@for $i from 0 through 24 {
  .p-#{$i} {
    padding: #{$i}px;
  }

  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  .py-#{$i} {
    padding: #{$i}px 0px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .m-#{$i} {
    margin: #{$i}px;
  }

  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
}

.cm-fluid {
  width: 100%;
}

.cm-flex {
  display: flex;

  &.cm-flex-column {
    flex-direction: column;
  }

  &.cm-ai-center {
    align-items: center;
  }

  &.cm-jc-space-between {
    justify-content: space-between;
  }
}

.cm-flex-1 {
  flex: 1 1 auto;
}

.cm-flex-0 {
  flex: 0 0 auto;
}
