@import "variables";

.cm-button {
  padding: 8px 12px;
  background-color: $primaryColor;
  border-radius: 3px;
  border: 0px;
  color: $primaryText;
  outline: none;
  cursor: pointer;

  line-height: 16px;
  font-size: 14px;

  &.icon {
    display: flex;
    align-content: center;

    .cm-icon {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  }

  &:hover {
    background-color: $primaryLight;
  }

  &:active {
    background-color: $primaryDark;
  }

  &.outline {
    background-color: $primaryText;
    border: 1px $primaryColor solid;
    color: $primaryLight;

    &:hover {
      background-color: #e6e6e6;
    }

    &:active {
      background-color: $secondaryDark;
    }
  }

}
